/* your custom css */
.fixedHeaderContainer {
    background: transparent;
    height: 160px;;
}

.fixedHeaderContainer header img{
    height: 150%;
}

.headerWrapper{
    margin-top: 60px;
    margin-left: 50;
}

.navigationSlider{
    margin-left: 0px;
    margin: auto;
}

.navigationSlider .slidingNav ul li > a:focus, 
.navigationSlider .slidingNav ul li > a:hover, 
.navigationSlider .slidingNav ul li.siteNavItemActive > a, 
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    background-color: transparent;
}

.navigationSlider .slidingNav ul li > a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.navPusher {
    padding-top: 0;
}

.mainContainer{
    padding: 0;
}

.innovations-wrapper {
    background: #F7F7F7;
    width: 60%;
    margin: auto;
}

.experience-grid {
    display: grid;
    grid-template-columns: 49% 35%;
    grid-template-rows: 20% 59%; 
    column-gap: 40px;
    width: 75%;
    margin: auto;
}

.col-1 {
    grid-column: 1;
}

.col-2{
    grid-column: 2;
}

.row-1{
    grid-row: 1;
}

.row-2{
    grid-row: 2;
}

.innovations-grid {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 50px;
}

.card {
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.card-content {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 49% 49%;
    padding: 60px 60px 60px 60px;
}

.card-icon {
    width: 165px;
    height:165px;
   padding: 0;
}

.card-description {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.ribbon {
    height: 5px;
}

.text-centered {
    text-align: center;
}

.exp-img {
    width: 80%;
    border-radius: 12px;
    margin: auto;
}

.header-text {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.header-text-secondary {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.text-color-purple{
    color: #6C37A3;
}

.nav-footer{
    background: url('../img/home-page-footer.svg');
    background-size: 100%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}