/* your custom css */
.fixedHeaderContainer{
    background: linear-gradient(to left, #6C37A3 0%, #05C7ED 100%);
    height: 160px;;
}

.headerWrapper{
    margin-top: 60px;
    margin-left: 50;
}

.navigationSlider{
    margin-left: 0px;
    margin: auto;
}

.navigationSlider .slidingNav ul li > a:focus, 
.navigationSlider .slidingNav ul li > a:hover, 
.navigationSlider .slidingNav ul li.siteNavItemActive > a, 
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    background-color: transparent;
}

.navigationSlider .slidingNav ul li > a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.navPusher {
    padding-top: 160px;
}

.innovations-wrapper {
    background: #F7F7F7;
    padding: 50px 20%;;
    vertical-align: bottom;
}

.innovations-grid {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 50px;
}

.innovations-grid .card {
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.innovations-grid .card .content {
    padding: 10px 60px 60px 40px;
}

.innovations-grid .card .content h1{
    margin-bottom: 70px;
    margin-top: 70px;
}

.innovations-grid .card .content p{
    font-size: 18px;
    font-weight: 600;
}

.ribbon{
    height: 5px;
}




@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}