/* Header styles */
.fixedHeaderContainer {
    display: none;
}

/* Style the header with a grey background and some padding */
.css-header {
    overflow: hidden;
    padding: 20px 10px;
    height: 105px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
 }

.dark-header {
    background: url('../img/header-gradient.svg');
    background-size: 100%;
}

.light-header {
    background: white;
}

  /* Style the header links */
.css-header a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 13px; 
    line-height: 25px;
}

.dark-header a {
    color: white;
}

.light-header a {
    color: black;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.css-header a.logo {
    width: 150px;
}

/* Float the link section to the right */
.header-right {
    margin-left: auto;
}

.navigationSlider .slidingNav ul li.siteNavItemActive:after,
.navigationSlider .slidingNav ul li.siteNavGroupActive:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: -5px auto auto auto; /* This will center the border. */
    /* margin-top: -5px; */
    width: 8%; /* Change this to whatever width you want. */
    padding-top: 0px; /* This creates some space between the element and the border. */
    border-bottom: 2px solid white; /* This creates the border. Replace black with whatever color you want. */
}

/* Body */

.mainContainer{
    padding: 0;
}

.page-content{
    position: relative;
}

/* Innovation section */

.innovations-wrapper {
    background: url('../img/home-page-mid-background.svg') center/cover;
    background-size: 100%;
    width: 100%;
    padding-right: 12.5%;
    padding-left: 12.5%;
    padding-bottom: 150px;
}

.innovations-grid {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 50px;
}

.card {
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    /* position: relative; */
}

.card-content {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 49% 49%;
    padding: 40px 40px;;
    position: relative;
}

.card-icon {
    width: 125px;;
    height:125px;;
    padding: 0;
    margin-left: -30px;
}

.card-header{
    margin-left: -20px;
}

.card-description {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.ribbon {
    height: 5px;
}

/* experience section */

.experience-grid {
    display: grid;
    grid-template-columns: 49% 35%;
    grid-template-rows: 20% 59%; 
    column-gap: 40px;
    width: 75%;
    margin: auto;
}

.col-1 {
    grid-column: 1;
}

.col-2{
    grid-column: 2;
}

.row-1{
    grid-row: 1;
}

.row-2{
    grid-row: 2;
}

.exp-img {
    width: 80%;
    border-radius: 12px;
    margin: auto;
}

/* general */

.text-centered {
    text-align: center;
}

.header-text {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.header-text-secondary {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
}

.text-color-purple{
    color: #6C37A3;
}

/* footere */
.nav-footer{
    background: url('../img/home-page-footer.svg');
    background-size: 100%;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}